/*Animação com sprite*/
.animation{
width: calc(800px/8);
height: 101px;
background: url("../assets/anim/Sonic2.png");
animation: animation 1s steps(8) infinite;
position: relative;
bottom: 45px;
z-index: 1;

}


@keyframes animation {
from{
background-position: 0;
}
to{
background-position: 800px;
}
}


.animation2{
animation: animation2 3s infinite linear;
width: 500px;
height: 200px;
background: url("../assets/anim/Green.png");
margin-bottom: -90px;
z-index: 1;
border: 3px solid rgb(4, 0, 255);

}


@keyframes animation2 {
from{
background-position: 0;
}
to{
background-position: 1200px;
}
}

@media(max-width: 520px){
.animation2{
width: 420px;
}
}

@media(max-width: 440px){
.animation2{
width: 380px;
}
}

@media(max-width: 400px){
.animation2{
width: 320px;
}
}

@media(max-width: 340px){
.animation2{
width: 300px;
}
}


@media(max-width: 315px){
.animation2{
width: 270px;
}
}